<div id="sessions_c">
<% if user_signed_in? == false %>
	<div id="register">
	<%= form_for(@user) do |f| %>
		<%= f.text_field :email, 
						 :value => "Email", 
						 :class => "field",
						 :onclick => "if(this.value == 'Email') $(this).val('');", 
						 :onblur => "if(this.value == '') $(this).val('Email');" %>

		<%= f.text_field :password, 
						 :value => "Password", 
						 :class => "field",
						 :onclick => "if(this.value == 'Password') {$(this).val(''); this.type='password';}", 
						 :onblur => "if(this.value == '') {this.type='text'; $(this).val('Password');}" %>
		<%= f.submit 'Sign Up/In', :class => "button" %>
	<% end %>
	<script>
	// Make password field password type after tabbing from email field
	$(function() {
		$('#user_email').bind('keydown', function(e) {
			var keyCode = e.keyCode;
			if (keyCode == 9) {
				$("#user_password").val("");
				document.getElementById("user_password").type = 'password';
			}
		});
	});
	</script>
	</div>
<% else %>
<div id="register">
	<p style="margin-top: 5px; font-size: 10pt">Signed in! <%= link_to "Sign out", sign_out_path, :class => "button" %></p>
</div>
<% end %>
</div>